.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 40px 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
